[rdf]
# Base URI must end with a /
baseuri = http://rdfdata.eionet.europa.eu/eurostat/
# Vocabulary must end with a #
vocabulary = http://rdfdata.eionet.europa.eu/eurostat/property#

skip = ei_* avia_* migr_* ext_* bd_*
    bop_q_c bop_its_det bop_its_deth bop_fdi_pos_r2 bop_fdi_flow_r2 bop_fdi_inc_r2
    bop_fdi_pos bop_fdi_flows bop_fdi_inc
    bop_euins_a bop_euins_q bop_euins_m
    demo_r_d2morag demo_r_d2natag demo_r_d2jan demo_r_mdthrt demo_r_mpbdth
    demo_r_mpbsurv demo_r_msurv demo_r_mdie demo_r_mpyliv demo_r_mtotpyliv
    fats_* gov_a_exp gov_q_ggfa
    cens_01ramigr
    hlth_cd_* hlth_co_*
    lfsq_* sts_*_m

legacydicts = age ai airsect baseyear cities coicop comspec cons crim currency dest env_dom 
    fish geo indic_de indic_en indic_eu indic_is indic_md indic_na indic_nv infotype landuse 
    month nace_r1 nace_r2 obs_status pres prod_nrg product quantile rbd s_adj 
    sector sex species src tax unit wst_oper

#dimensiondict = http://dd.eionet.europa.eu/vocabulary/eurostat/%(dimension)s/%(code)s
dimensiondict = dic/%(dimension)s#%(code)s

# LOD2
#baseuri = http://eurostat.linked-statistics.org/
#vocabulary = http://eurostat.linked-statistics.org/property#

[sdmx]
data.ns = urn:sdmx:org.sdmx.infomodel.keyfamily.KeyFamily=EUROSTAT:%(dataset)s_DSD:compact
message.ns =   http://www.SDMX.org/resources/SDMXML/schemas/v2_0/message
common.ns =    http://www.SDMX.org/resources/SDMXML/schemas/v2_0/common
structure.ns = http://www.SDMX.org/resources/SDMXML/schemas/v2_0/structure

[sources]
sdmxfiles = sdmxfiles
esmsfiles = esmsfiles

[destination]
#destdir = /var/local/rdfdata/htdocs/eurostat
destdir = download
datafiles =    %(destdir)s/data
vocabularies = %(destdir)s/dic
schema =       %(destdir)s
void =         %(destdir)s
metadata =     %(destdir)s/metadata

[download]
toc = yes
tocurl = http://epp.eurostat.ec.europa.eu/NavTree_prod/everybody/BulkDownloadListing?file=table_of_contents.xml
dic = yes
dicurl = http://epp.eurostat.ec.europa.eu/NavTree_prod/everybody/BulkDownloadListing?file=dic/all_dic.zip

[provenance]
# RDF properties with the colon changed to period (.) Only one of each property name is allowed
# Note that ConfigParser changes uppercase to lowercase. rdfs.seeAlso won't work

dcterms.source = <http://epp.eurostat.ec.europa.eu/NavTree_prod/everybody/BulkDownloadListing?file=%(dataset)s>
dcterms.publisher = Eurostat, the statistical office of the European Union
foaf.maker = <http://www.eionet.europa.eu/users/roug>
dcterms.license = <http://epp.eurostat.ec.europa.eu/portal/page/portal/about_eurostat/policies/copyright_licence_policy>
rdfs.label = Eurostat's %(dataset)s dataset converted into RDF

[ping]
stores = http://semantic.eea.europa.eu/ping?uri=%(baseuri)s/data/%(dataset)s.rdf.gz
            http://cr.eionet.europa.eu/ping?uri=%(baseuri)s/data/%(dataset)s.rdf.gz

